In [8]:
import numpy as np
import os
import pandas as pd
import geopandas as gpd

In [5]:
os.chdir("C:/Users/aroy29/Dropbox (ASU)/Strava Analysis/Data/MAG2016/Analysis_Generated_Data")
train_data = pd.read_csv("MAG_train_data_GLM_global.csv")
train_data.head()

,Site_ID,Longitude,Latitude,Month,MAG_Daily,Strava_Daily,Pop_per_sq_mile,Avg_segment_speed_limit,Bike_facility,Connectivity_to_other_segments,...,dist_to_green_space,dist_to_commercial_areas,dist_to_residential_areas,dist_to_public_transit,MEDIAN_AGE,MEDIAN_HOUSEHOLD_INCOME,PCT_BICYCLE,PCT_ONE_OR_MORE_VEH,PCT_NON_WHITE,EDU_ABV_HS
0,1,-112.29,33.4789,5,10,0,5063.2167,60.0,1,4,...,0.2884,0.021,0.0225,0.2528,39.0,60250,0.0,32.7705,21.24227,15.4871
1,1,-112.29,33.4789,5,6,0,5063.2167,60.0,1,4,...,0.2884,0.021,0.0225,0.2528,39.0,60250,0.0,32.7705,21.24227,15.4871
2,1,-112.29,33.4789,5,9,0,5063.2167,60.0,1,4,...,0.2884,0.021,0.0225,0.2528,39.0,60250,0.0,32.7705,21.24227,15.4871
3,1,-112.29,33.4789,5,9,0,5063.2167,60.0,1,4,...,0.2884,0.021,0.0225,0.2528,39.0,60250,0.0,32.7705,21.24227,15.4871
4,1,-112.29,33.4789,5,8,0,5063.2167,60.0,1,4,...,0.2884,0.021,0.0225,0.2528,39.0,60250,0.0,32.7705,21.24227,15.4871

In [32]:
train_data.columns

Index([u'Site_ID', u'Longitude', u'Latitude', u'Month', u'MAG_Daily',
       u'Strava_Daily', u'Pop_per_sq_mile', u'Avg_segment_speed_limit',
       u'Bike_facility', u'Connectivity_to_other_segments', u'PCT_VETERANS',
       u'AADT', u'dist_to_green_space', u'dist_to_commercial_areas',
       u'dist_to_residential_areas', u'dist_to_public_transit', u'MEDIAN_AGE',
       u'MEDIAN_HOUSEHOLD_INCOME', u'PCT_BICYCLE', u'PCT_ONE_OR_MORE_VEH',
       u'PCT_NON_WHITE', u'EDU_ABV_HS'],
      dtype='object')

In [6]:
#Read predictions and assign classes to the predicted volume for TBAG Data
def assign_class(filepath,scenario):
    df = pd.read_csv(filepath)
    vol = df["predicted"]
    if scenario==1:
        for item in vol:
            if(item in range(0,151)):
                scale.append('VL')
            elif(item in range(151,450)):
                scale.append('L')
            elif(item in range(450,800)):
                scale.append('M')
            elif(item in range(800,1500)):
                scale.append('H')
            else:
                scale.append('VH')
    if scenario==2:
         for item in vol:
            if(item in range(0,250)):
                scale.append('VL')
            elif(item in range(250,700)):
                scale.append('L')
            elif(item in range(700,1200)):
                scale.append('M')
            elif(item in range(1200,1600)):
                scale.append('H')
            else:
                scale.append('VH')
    if scenario==3:
         for item in vol:
            if(item in range(0,65)):
                scale.append('VL')
            elif(item in range(65,250)):
                scale.append('L')
            elif(item in range(250,700)):
                scale.append('M')
            elif(item in range(700,1400)):
                scale.append('H')
            else:
                scale.append('VH')
    if scenario==4:
         for item in vol:
            if(item in range(0,500)):
                scale.append('VL')
            elif(item in range(500,1500)):
                scale.append('L')
            elif(item in range(1500,2000)):
                scale.append('M')
            elif(item in range(2000,2500)):
                scale.append('H')
            else:
                scale.append('VH')
    if scenario==5:
         for item in vol:
            if(item in range(0,125)):
                scale.append('VL')
            elif(item in range(125,350)):
                scale.append('L')
            elif(item in range(350,800)):
                scale.append('M')
            elif(item in range(800,1500)):
                scale.append('H')
            else:
                scale.append('VH')

In [41]:
tbag_counts = pd.read_csv("TBAG_Counts_2016.csv")
tbag_counts.head()

,Site_ID,Month,Count,dist_to_green_spaces,dist_to_residential_areas,dist_to_commercial_areas
0,101,4,4,0.028,0.402,0.049
1,101,4,0,0.028,0.402,0.049
2,101,4,0,0.028,0.402,0.049
3,101,4,0,0.028,0.402,0.049
4,101,4,1,0.028,0.402,0.049

In [43]:
strava_segments_tbag = gpd.read_file("Shapefiles/TBAG_Strava_Segments2016.shp")
strava_segments_tbag.columns

Index([    u'LocID', u'Longitude',  u'Latitude',      u'Date',      u'Page',
         u'Segment', u'Direction',     u'Count',  u'Sidewalk',   u'EDGE_ID',
         u'TATHCNT',  u'geometry'],
      dtype='object')

In [45]:
df = strava_segments_tbag.merge(tbag_counts,left_on="LocID",right_on="Site_ID")
df.head()

,LocID,Longitude,Latitude,Date,Page,Segment,Direction,Count_x,Sidewalk,EDGE_ID,TATHCNT,geometry,Site_ID,Month,Count_y,dist_to_green_spaces,dist_to_residential_areas,dist_to_commercial_areas
0,145,-111.94,33.4001,42458,1,1,1,1,1,106.0,24.0,LINESTRING (-111.9397027006191 33.400115800204...,145,4,1,1.305,0.05,0.0
1,145,-111.94,33.4001,42458,1,1,1,1,1,106.0,24.0,LINESTRING (-111.9397027006191 33.400115800204...,145,4,1,1.305,0.05,0.0
2,145,-111.94,33.4001,42458,1,1,1,1,1,106.0,24.0,LINESTRING (-111.9397027006191 33.400115800204...,145,4,2,1.305,0.05,0.0
3,145,-111.94,33.4001,42458,1,1,1,1,1,106.0,24.0,LINESTRING (-111.9397027006191 33.400115800204...,145,4,0,1.305,0.05,0.0
4,145,-111.94,33.4001,42458,1,1,1,1,1,106.0,24.0,LINESTRING (-111.9397027006191 33.400115800204...,145,4,1,1.305,0.05,0.0

In [47]:
df["Site_ID"] = df["EDGE_ID"]
df["TBAG_Daily"] = df["Count_y"]
df["Strava_Daily"] = df["TATHCNT"]
df1 = df[["Site_ID","Longitude","Latitude","TBAG_Daily","Strava_Daily","Month","dist_to_green_spaces","dist_to_residential_areas","dist_to_commercial_areas"]]
df1 = df1.groupby(["Site_ID","Longitude","Latitude","Month"],as_index=False).mean()
df1.head()

,Site_ID,Longitude,Latitude,Month,TBAG_Daily,Strava_Daily,dist_to_green_spaces,dist_to_residential_areas,dist_to_commercial_areas
0,73.0,-111.900,33.40035,4,0.59375,11.0,0.195,0.000,0.240
1,74.0,-111.900,33.40035,4,0.59375,12.0,0.195,0.000,0.240
2,88.0,-111.909,33.40015,4,1.65625,33.0,0.405,0.006,0.045
3,89.0,-111.909,33.40015,4,1.65625,55.0,0.405,0.006,0.045
4,106.0,-111.940,33.40010,4,0.81250,24.0,1.305,0.050,0.000

In [48]:
tbag_strava_counts = df1
tbag_demographics = gpd.read_file("Shapefiles/Export_Output_2.shp")
tbag_demographics.head()

,POP_PER_SQ,MEDIAN_AGE,PCT_HISPAN,PCT_WHITE_,PCT_BLACK_,PCT_NATIVE,PCT_ASIAN_,PCT_PACIFI,PCT_OTHER_,PCT_HSGRAD,...,PCT_ONE_VE,PCT_TWO_VE,PCT_THREE_,TBAG_cou_1,TBAG_cou_2,TBAG_cou_7,TBAG_cou_8,maricopa_2,maricopa_3,geometry
0,7388.348345,26.9,22.161572,72.652838,1.855895,0.655022,0.655022,0.0,0.0,31.551901,...,23.260073,45.604396,28.388278,-111.94,33.4001,1,1,106.0,24.0,LINESTRING (-111.9397027006191 33.400115800204...
1,7388.348345,26.9,22.161572,72.652838,1.855895,0.655022,0.655022,0.0,0.0,31.551901,...,23.260073,45.604396,28.388278,-111.94,33.4001,1,1,106.0,24.0,LINESTRING (-111.9397027006191 33.400115800204...
2,7388.348345,26.9,22.161572,72.652838,1.855895,0.655022,0.655022,0.0,0.0,31.551901,...,23.260073,45.604396,28.388278,-111.94,33.4001,2,1,106.0,24.0,LINESTRING (-111.9397027006191 33.400115800204...
3,7388.348345,26.9,22.161572,72.652838,1.855895,0.655022,0.655022,0.0,0.0,31.551901,...,23.260073,45.604396,28.388278,-111.94,33.4001,0,0,106.0,24.0,LINESTRING (-111.9397027006191 33.400115800204...
4,7388.348345,26.9,22.161572,72.652838,1.855895,0.655022,0.655022,0.0,0.0,31.551901,...,23.260073,45.604396,28.388278,-111.94,33.4001,1,1,106.0,24.0,LINESTRING (-111.9397027006191 33.400115800204...

### Calculate Demographic variables

In [49]:
tbag_demographics["Site_ID"] = tbag_demographics.maricopa_2
tbag_demographics["Pop_per_sq_mile"]  = tbag_demographics.POP_PER_SQ
tbag_demographics["MEDIAN_HOUSEHOLD_INCOME"] = tbag_demographics.MEDIAN_HOU
tbag_demographics["PCT_BICYCLE"] = tbag_demographics.PCT_BICYCL
tbag_demographics["PCT_ONE_OR_MORE_VEH"] = (tbag_demographics.PCT_ONE_VE+tbag_demographics.PCT_TWO_VE+
                                            tbag_demographics.PCT_THREE_)/3
tbag_demographics["PCT_NON_WHITE"] = (tbag_demographics.PCT_HISPAN+tbag_demographics.PCT_BLACK_+
                                      tbag_demographics.PCT_NATIVE+tbag_demographics.PCT_ASIAN_+
                                      tbag_demographics.PCT_PACIFI+tbag_demographics.PCT_OTHER_)/6
tbag_demographics["EDU_ABV_HS"] = (tbag_demographics.PCT_HSGRAD+tbag_demographics.PCT_SOMECO+
                                   tbag_demographics.PCT_ASSOCI+tbag_demographics.PCT_BACHEL+
                                   tbag_demographics.PCT_GRADPR)/5

In [75]:
tbag_demographics = tbag_demographics[["Site_ID","Pop_per_sq_mile","MEDIAN_AGE","MEDIAN_HOUSEHOLD_INCOME",
                                      "PCT_BICYCLE","PCT_ONE_OR_MORE_VEH","PCT_NON_WHITE","EDU_ABV_HS"]]
tbag_train_data = tbag_strava_counts.merge(tbag_demographics,on="Site_ID")
tbag_train_data = tbag_train_data.groupby(["Site_ID","Longitude","Latitude","Month","MEDIAN_AGE",
                         "MEDIAN_HOUSEHOLD_INCOME","PCT_BICYCLE","PCT_ONE_OR_MORE_VEH",
                         "PCT_NON_WHITE","EDU_ABV_HS"],as_index=False).mean()
tbag_train_data.head()

,Site_ID,Longitude,Latitude,Month,MEDIAN_AGE,MEDIAN_HOUSEHOLD_INCOME,PCT_BICYCLE,PCT_ONE_OR_MORE_VEH,PCT_NON_WHITE,EDU_ABV_HS,TBAG_Daily,Strava_Daily,dist_to_green_spaces,dist_to_residential_areas,dist_to_commercial_areas,Pop_per_sq_mile
0,73.0,-111.900,33.40035,4,55.1,68125,2.702703,32.773109,1.058977,19.810651,0.59375,11.0,0.195,0.000,0.240,2582.490706
1,74.0,-111.900,33.40035,4,55.1,68125,2.702703,32.773109,1.058977,19.810651,0.59375,12.0,0.195,0.000,0.240,2582.490706
2,88.0,-111.909,33.40015,4,27.3,41892,1.878914,28.546099,6.668760,18.317536,1.65625,33.0,0.405,0.006,0.045,11237.651345
3,88.0,-111.909,33.40015,4,30.6,51026,5.093168,30.210266,7.384824,19.553467,1.65625,33.0,0.405,0.006,0.045,7888.915335
4,89.0,-111.909,33.40015,4,30.6,51026,5.093168,30.210266,7.384824,19.553467,1.65625,55.0,0.405,0.006,0.045,7888.915335

### Calculate AADT variables

In [76]:
tbag_aadt = gpd.read_file("Shapefiles/Tempe Shapefiles/Tempe_strava_edges_counts_aadt.shp")
tbag_aadt = tbag_aadt[["edge_id","aadt","speed_limi"]].groupby(["edge_id"],as_index=False).mean()
tbag_aadt["AADT"] = tbag_aadt.aadt
tbag_aadt["Avg_segment_speed_limit"] = tbag_aadt.speed_limi
tbag_aadt = tbag_aadt[["edge_id","AADT","Avg_segment_speed_limit"]]
tbag_aadt.head()

   edge_id   AADT  Avg_segment_speed_limit
0       48  40902                       75
1       50  24541                       75
2       51   8348                        0
3       52   9566                       75
4       53      0                        0

In [77]:
tbag_train_data = tbag_train_data.merge(tbag_aadt,left_on="Site_ID",right_on="edge_id")
tbag_train_data.head()

,Site_ID,Longitude,Latitude,Month,MEDIAN_AGE,MEDIAN_HOUSEHOLD_INCOME,PCT_BICYCLE,PCT_ONE_OR_MORE_VEH,PCT_NON_WHITE,EDU_ABV_HS,TBAG_Daily,Strava_Daily,dist_to_green_spaces,dist_to_residential_areas,dist_to_commercial_areas,Pop_per_sq_mile,edge_id,AADT,Avg_segment_speed_limit
0,73.0,-111.900,33.40035,4,55.1,68125,2.702703,32.773109,1.058977,19.810651,0.59375,11.0,0.195,0.000,0.240,2582.490706,73,2771,0
1,74.0,-111.900,33.40035,4,55.1,68125,2.702703,32.773109,1.058977,19.810651,0.59375,12.0,0.195,0.000,0.240,2582.490706,74,8735,65
2,88.0,-111.909,33.40015,4,27.3,41892,1.878914,28.546099,6.668760,18.317536,1.65625,33.0,0.405,0.006,0.045,11237.651345,88,24936,75
3,88.0,-111.909,33.40015,4,30.6,51026,5.093168,30.210266,7.384824,19.553467,1.65625,33.0,0.405,0.006,0.045,7888.915335,88,24936,75
4,89.0,-111.909,33.40015,4,30.6,51026,5.093168,30.210266,7.384824,19.553467,1.65625,55.0,0.405,0.006,0.045,7888.915335,89,88072,75

In [83]:
tbag_train_data.to_csv("Tempe_TBAG_Test_data.csv")

In [ ]:
### Train the model using MAG data and test with TBAG data